@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@400;500;600&family=Montserrat:wght@300;500&family=Roboto&family=Teko:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}

#root {
  max-width: 1300px;
  margin: 0 auto;
}


body{
    background: #0f2322;
    color: #ffff;
}


button {
  border-radius: 15px;
  border: 1px solid transparent;
  font-size: 1.2em;
  font-weight: 600;
  font-family: inherit;
}

button:hover {
  border-color: #646cff;
}


h1 {
    font-family: Montserrat;
    font-size: 4.5rem;
    font-weight: 500;
}

.subtit {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 500;
}

.subtitAnim {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 100;
    color:lightyellow;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.subtitAnim.visivel {
    opacity: 1;
}


.gradientContainer {    
    position: relative;
    width: 100%;
    padding: 20px;
    mask-image: linear-gradient(
        to bottom, transparent 90%, black 90%, black 90%, transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom, transparent 10%, black 25%, black 70%, transparent 90%
    );
}

.inputfontStyle {
    color: rgb(206, 206, 206);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.textButtonCuston {
    background: none;
    border: none;
    padding: 0;
    color: #c586c0;
    text-decoration: underline;
    cursor: pointer;
    font-size: medium;
}
.textButtonCuston:hover {
    color: #86c589;
}


.loguinTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10%;
}

.containerlogin{
    max-width: 70%;
    border-radius: 30px;
    background: linear-gradient(to left, rgba(124, 199, 136, 0.4), rgba(197, 134, 192, 0.4));
    font-family: Montserrat;
    font-size: 2rem;
    color: rgb(206, 206, 206);
    display: inline-block;
    position: relative;
    padding: 1rem;
}


input {
    font-size: 1.5ch;
    padding: 5px;
    border-radius: 20px;
    border: 4px solid rgba(0, 0, 0, 0.199);
    background-color: rgba(153, 153, 153, 0.315);
}
input:hover {
  border-color: #646cff;
}
input:focus {
  border-color: orange; /* Quando o usuário estiver digitando ou o input estiver selecionado */
  outline: none; /* Remove o contorno azul padrão (opcional) */
}


.homeDisplayItens{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}


.roomsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px; /* espaçamento entre os cards */
  padding: 16px;
}

.personalData{
    display: flex;
    flex-direction: column;
    color: #86c589;
}

.personalDataButtonsSection{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.personalDataButtons{
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #86c589;
    font-size: xx-large;
    border-radius: 5px;
    color: #1c2b1e;
    width: 80%;
}

.personalDataBackButton{
    position: fixed;
    align-self: center;
    width: 60%;
    bottom: 0;
    padding:6px;
    background-color:#c586c0;
    border-radius: 5px;
    font-size: xx-large;
    color: #1c2b1e;
}

.personalDataChangePassword{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: xx-large;
}

.personalDataChangePasswordVerifyed{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    gap:15px
}

.personalTransactions{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    color: #86c589;
}

.personalTransactionsList{
    font-size: xx-large;
}

.roomPage{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    color: #86c589;
}

.editItemSelect{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: xx-large;
    padding: 10px;
    border-radius: 10px;
    color: #c2c2c2;
    background-color: rgba(200, 255, 255, 0.2);
    gap:1%
}

.containerWithCenterItens{
    display: flex;
    border-radius: 5px;
    align-items: center;
    padding: 1%;
    width: 100%;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0.2);

    p{
        padding-bottom: 2%;
    }

    span{
        color: rgb(154, 185, 166);
    }
}

.lowButtonProfile{
    border-radius: 5px;
    margin-right: 2%;
    padding: 10px;
}

.cofirmButton{
    background: #86c589;
    color: #253626;
    
}

.cancelButton{
    background: #c586c0;
    color: #2c1e2b;
}

.parcial {
    background-color: orange;
    color: white;
    border-radius: 5px;
}

.ocupped{
    background-color: rgb(88, 40, 48);
    color: white;
    border-radius: 5px;
    font-size: xx-large;
}


.roomExibitionPage{
    display: flex;
    border-radius: 20px;
    padding: 10px;
    flex-direction: column;
    background: rgba(80, 80, 80, 0.322);
    font-size: xx-large;
}

.roomPhotoContainer{
    height: 40rem;
    align-self: center;
}

.roomPhotoContainer img {
    height: 100%;
    border-radius: 20px;
}

